!
! BASIC CONFIGURATION FOR CISCO ROUTERS
!
hostname {HOSTNAME}
enable password {ENABLEPASSWORD}
!
no ip domain lookup
ipv6 unicast-routing
!
interface {INT0}
 description {DESCINT0}
 ip address {IPINT0} {NETMASKINT0}
 ipv6 address {LINKLOCALINT0} link-local
 ipv6 address {IPV6INT0ANDPREFIX}
 {SHUTDOWNEMPTYORNOINT0} shutdown
!
interface {INT1}
 description {DESCINT1}
 ip address {IPINT1} {NETMASKINT1}
 ipv6 address {LINKLOCALINT1} link-local
 ipv6 address {IPV6INT1ANDPREFIX}
 {SHUTDOWNEMPTYORNOINT1} shutdown
!
banner motd ^C {BANNERMOTD} ^C
!
line con 0
 password {CONSOLEPASSWORD}
 logging synchronous
 login
line vty 0 4
 password {VTYPASSWORD}
 login
 transport input {TRANSPORTINPUTVTY}
!
end